<script>
function handleClick(value){
	var containerId = '#'+value;
	var url = "backbone/"+value+"s.html";
	//if(!$(containerId).html()) 
		app.loadPage(url,containerId)
}
</script>


<ul class='nav nav-tabs'>
	<li> <a class='active' href='#model' data-toggle='tab' onclick='handleClick("model")'> 
		Models</a>
	</li>
	<li> <a href='#view' data-toggle='tab' onclick='handleClick("view")'> Views</a>
	</li>
	<li> <a href='#collection'  data-toggle='tab' onclick='handleClick("collection")'>
		 Collections</a>
	</li>
</ul>

<div class='tab-content'>

<div class='tab-pane active' id='model'></div>

<div class='tab-pane' id='collection'></div>

<div class='tab-pane' id='view'></div>

</div><!--tabbed-content ends -->

